.article {
  margin-bottom: 50px;

  &__img {
    float: left;
    width: 67px;
    height: 67px;
    margin-right: 30px;
  }

  &__heading {
    margin-bottom: 0;
  }

  &__time {
    font-size: 11px;
    color: #7a7a7a;
    line-height: 14px;
  }

  &__text {
    margin-top: 0;
  }

  &__read-more {
    float: right;
    color: $yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    &:hover {
      color: $main-color;
    }
  }

}
