.clients {
  padding: 100px 0;

  &__link {
    display: block;
    width: 190px;
    margin: 0 auto;
  }
}

@media (min-width: $screen-xs) {

  .clients {
    &__link {
      margin-bottom: 40px;
    }
  }

}
