.events {
  position: relative;
  width: 361px;
  min-height: 361px;

  &__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 361px;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #000;
    min-height: 210px;
  }

  &__heading {
    font-weight: 300;
  }

  &__date {
    font-size: 16px;
    margin-bottom: 15px;
  }
  &__time {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  &__rsvp {
    display: inline-block;
    width: 67px;
    height: 67px;
    font-size: 14px;
    font-weight: bold;
    line-height: 67px;
    letter-spacing: 2px;
    background-color: $yellow;
  }
}
