.feedback {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
    margin-right: 84px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    color: $yellow;
    &:hover {
      color: $main-color;
    }
  }
}
