.heading {

  &--h2 {
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    text-transform: uppercase;
  }

  &--h3 {
    font-size: 16px;
    line-height: 14px;
    font-style: bold;
    text-transform: uppercase;
  }

  &--h4 {
    font-size: 12px;
    line-height: 14px;
    font-style: bold;
    text-transform: uppercase;
  }
}
