.news {

  &__heading {
    position: relative;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 165px;
      height: 1px;
      background-color: $yellow;
    }
  }
}
