.owl-carousel {
  width: 1140px;
  margin: 0;
  margin-top: -30px;
  padding: 0;
  list-style: none;

  &__wrap {
    margin-bottom: 60px;
  }

  &__heading {
    margin: 0;
    margin-top: 50px;
    margin-bottom: -5px;
    padding: 0;
  }

  &__compress {
    position: absolute;
    top: 25px;
    right: 10px;
    color: $yellow;
    &:hover {
      color: $main-color;
    }
  }

  &__desc {
    z-index: 10;
  }

  &__who {
    font-size: 14px;
  }

  &__about {
    width: 160px;
    font-size: 14px;
    font-style: 300;
    line-height: 14px;
    margin-bottom: 40px;
  }
}

.owl-nav {
  position: absolute;
  left: 15px;
  bottom: 0;
  padding: 20px;
  width: 263px;
  min-height: 263px;
  z-index: 100;
  background-color: #fff;

  &__count-container {
    position: absolute;
    right: 15px;
    top: 65%;
    font-size: 14px;
  }

  .owl-prev, .owl-next {
    position: absolute;
    width: 34px;
    height: 34px;
    float: right;
    top: 50%;
    right: 50px;
    background-color: $main-color;
    font-size: 0;
    &:before {
      font-family: FontAwesome;
      font-size: 14px;
      width: 34px;
      height: 34px;
      line-height: 34px;
      color: #fff;
    }
  }

  .owl-prev {right: 0;}
  .owl-next {right: 34px;}

  .owl-prev:before {
    content: $fa-var-angle-right;
    margin-left: 17px;
  }

  .owl-next:before {
    content: $fa-var-angle-left;
    margin-left: 17px;
  }

}
/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;

  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
  }

  .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }

  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
  }

  .owl-nav.disabled,
  .owl-dots.disabled {
    display: none;
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next,
  .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &.owl-loaded {
    display: block;
  }

  &.owl-loading {
    opacity: 0;
    display: block;
  }

  &.owl-hidden {
    opacity: 0;
  }

  &.owl-refresh .owl-item {
    display: none;
  }

  &.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
  }

  &.owl-rtl {
    direction: rtl;
  }

  &.owl-rtl .owl-item {
    float: right;
  }
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}
