.page-nav {
  @include clearfix();
  list-style: none;
  *zoom: 1;
  margin: 0;
  padding: 0;
  z-index: 101;
  > li > a {
      padding: 30px 12px;
  }

  ul {
    list-style: none;
    margin: 0;
    margin-top: -7px;
    padding: 0;
    width: 110px;
    z-index: 100;
    background-color: #fff;

    ul {
      text-align: center;
      padding-top: 7px;
    }

    a:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 6px;
      border-color: transparent transparent transparent $main-color;
      display: none;
    }

    a:hover:before {
      display: block;
    }

    a.parent:before {
      content: '';
      position: absolute;
      top: 7px;
      left: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 6px;
      border-color: transparent transparent transparent $main-color;
      display: block;
      }
  }
  a {
    padding: 5px 14px;
    color: $main-color;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $yellow;
    }
  }
  li {
    position: relative;
    ul {
      position: absolute;
      left: -9999px;
    }
    li {
      &.hover ul {
        left: 100%;
        top: 0;
      }
      a {
        display: block;
        position: relative;
        z-index: 100;
      }
      li a {
        z-index: 200;
      }
    }
  }
  > li {
    float: left;
    > {
      a {
        display: block;
      }
    }
  }
  > li.hover > ul {
    left: 0;
  }
}

@media screen and (max-width: $screen-sm) {
  .active {
    display: block;
  }
  .page-nav {
    > li {
      float: none;
    }
    ul {
      display: block;
      width: 100%;
    }
    > li.hover > ul, li li.hover ul {
      position: static;
    }
  }
}
