.social {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin: 30px 0;

  &__item {
    font-size: 0;
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: FontAwesome;
    text-decoration: none;
    color: $main-color;
    font-size: 12px;
    &:hover {
      color: $yellow;
    }

    &--facebook:before {
      content: $fa-var-facebook;
    }
    &--twitter:before {
      content: $fa-var-twitter;
    }
    &--instagram:before {
      content: $fa-var-instagram;
    }
    &--flickr:before {
      content: $fa-var-flickr;
    }
    &--google:before {
      content: $fa-var-google-plus;
    }
    &--envelope:before {
      content: $fa-var-envelope;
    }
  }
}