.toggleMenu {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid $main-color;
  float: left;
  margin: 10px 0;
  text-indent: -9999px;
  background-color: transparent;
}
.toggleMenu--bg-color {
  background-color: $main-color;
}
.toggleMenu {
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.toggleMenu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 21px;
  background: #fff;
  opacity: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.toggleMenu span:nth-child(1) {
  top: 17px;
}

.toggleMenu span:nth-child(2),.toggleMenu span:nth-child(3) {
  top: 22px;
}

.toggleMenu span:nth-child(4) {
  bottom: 17px;
}
.toggleMenu.open span {
  background-color: $main-color;
}
.toggleMenu.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.toggleMenu.open span:nth-child(2) {
  transform: rotate(45deg);
}

.toggleMenu.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.toggleMenu.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


@media (max-width: $screen-sm) {
  .toggleMenu {
  display: block;
  float: none;
  }
}