// $ieSprite: '.no-svg' !default;
// $sprite: map-get($icons, sprite) !default;
// $baseFontSize: 16px !default;


// Lost settings

@lost gutter 0;
@lost flexbox no-flex; // or flex
@lost cycle auto;

// / Lost settings end

$main-color: #362f2f;
$yellow: #c3a000;

$robotoCondensed: 'Roboto Condensed', sans-serif;
