extends layouts/default

block content
  main.container
    .row
      section.owl-carousel__wrap.col-lg-12
        ul.owl-carousel
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__item
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
          li.owl-carousel__itemrve
            img.owl-carousel__img(src="images/carousel/square1.jpg", alt="Square1")
            
        .owl-nav
          .owl-carousel__desc
            h2.owl-carousel__heading.heading.heading--h2 morgan freeman
            span.owl-carousel__who actor
            p.owl-carousel__about Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget.
            a.owl-carousel__compress(href="#")
              i.fa.fa-compress
            .owl-nav__count-container
              span.owl-nav__item
              |  / 
              span.owl-nav__count
          ul.feedback
            li.feedback__item
              a.feedback__link(href="#")
                i.fa.fa-heart
            li.feedback__item
              a.feedback__link(href="#")
                i.fa.fa-reply.fa-flip-horizontal
            li.feedback__item
              a.feedback__link(href="#")
                i.fa.fa-envelope
                
    .row
      .col-lg-4.col-md-6
        .events.center-block
          img.events__img(src="images/events.jpg", alt="Event")
          .events__desc
            h2.events__heading.heading.heading--h2 fashion workshop
            .events__date NOV 21-23
            .events__time 9:00am - 4:00pm
            .events__rsvp rsvp
            
            
      .col-lg-4.col-md-6
        section.news
          h3.heading.heading--h3.news__heading News
          article.article
            img.article__img(src="images/article.jpg", alt="Article")
            h4.article__heading.heading.heading--h4 New Gallery Set
            time.article__time 09.12.2014
            p.article__text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget.
              a.article__read-more(href="#")
                span read more
          article.article
            img.article__img(src="images/article.jpg", alt="Article")
            h4.article__heading.heading.heading--h4 New Gallery Set
            time.article__time 09.12.2014
            p.article__text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget.
              a.article__read-more(href="#")
                span read more
          article.article
            img.article__img(src="images/article.jpg", alt="Article")
            h4.article__heading.heading.heading--h4 New Gallery Set
            time.article__time 09.12.2014
            p.article__text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla mi orci, ac venenatis ante venenatis eget.
              a.article__read-more(href="#")
                span read more
                
                
      .col-lg-4.col-md-12
        section.contact
          img.contact__logo(src="images/contact-logo.jpg", alt="Logo")
          .contact__phone + 00 123 456 7890
          .contact__mail info@square.com
          ul.social.contact__social
            li.social__item
              a.social__link.social__link--facebook(href="#")
            li.social__item
              a.social__link.social__link--twitter(href="#")
            li.social__item
              a.social__link.social__link--instagram(href="#")
            li.social__item
              a.social__link.social__link--flickr(href="#")
            li.social__item
              a.social__link.social__link--google(href="#")
          .contact__tw
            a.contact__link-tw(href="#")
              i.fa.fa-twitter
            .contact__text 
              | Unerdwear cookie liquorice. Cake donut cupcake lollipop soufflé candy. Chocolate oat cake 
              a(href="#") @cheesecake 
              | tootsie roll.
