footer.footer.container
  .row
    .clients
      .col-md-3.col-sm-6
        a.clients__link(href="#")
          img.clients__img(src="images/phaseon.png", alt="Phaseon", width='189', height='26')
      .col-md-3.col-sm-6
        a.clients__link(href="#")
          img.clients__img(src="images/manfrotto.png", alt="Manfrotto", width='186', height='36')
      .col-md-3.col-sm-6
        a.clients__link(href="#")
          img.clients__img(src="images/hasselblad.png", alt="Hasselblad", width='199', height='14')
      .col-md-3.col-sm-6
        a.clients__link(href="#")
          img.clients__img(src="images/broncolor.png", alt="Broncolor", width='186', height='28')
          
          
  .row
    .col-md-12
      .copyright
        | Created by 2ndself.com, with
        span
          i.fa.fa-heart
        br
        | exclusive for theuncreativelab.com
        br
        .copyright__year © 2014 Square. All Rights Reserved.
