header.container.header
  .row
    .col-md-5
      nav
        a.toggleMenu.toggleMenu--bg-color(href="#")
          span
          span
          span
          span
        ul.page-nav
          li
            a(href="#") portfolio
            ul
              li
                a(href="#") Fashion
              li
                a(href="#") Editorial
              li
                a(href="#") street
              li
                a(href="#") black white
                ul
                  li
                    a(href="#") Gallery /1
                  li
                    a(href="#") Gallery /2
                  li
                    a(href="#") Gallery /3
                  li
                    a(href="#") Gallery /4
                  li
                    a(href="#") Gallery /5
                  li
                    a(href="#") Gallery /6
              li
                a(href="#") personal
          li
            a(href="#") clients
          li
            a(href="#") news
          li
            a(href="#") about me
          li
            a(href="#") contact


    .col-md-2.hidden-xs
      a.header__logo(href="#")
        img(src="images/logo.jpg", alt="Logo")


    .col-md-5
      ul.social
        li.social__item
          a.social__link.social__link--facebook(href="#")
        li.social__item
          a.social__link.social__link--twitter(href="#")
        li.social__item
          a.social__link.social__link--instagram(href="#")
        li.social__item
          a.social__link.social__link--flickr(href="#")
        li.social__item
          a.social__link.social__link--google(href="#")
        li.social__item
          a.social__link.social__link--envelope(href="#")
